@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager navigationManager

<div class="empty-layout">
    <video autoplay muted loop playsinline class="background-video">
        <source src="Video/thuvienhanhlang.mp4" type="video/mp4">
    </video>
    @Body
</div>
